<div class="widget-wrap">
	<h3 class="widget-title">PROFILE</h3>
	<div class="widget">
		<div class="profile">
			<img class="profile" />
		  	<p>SHEILACAT</p>
		  	<span>You said you grow old with me.</span>
		  	<p class="link">
		  		<a class="me-github" target="_blank" href="https://github.com/sheilaCat"></a>
			  	<a class="me-weibo" href="#"></a>
			  	<a class="me-zhihu" target="_blank" href="https://www.zhihu.com/people/sheilaCat"></a>
	  	        <% if (theme.rss){ %>
	  	        	<a class="me-rss" href="/atom.xml"></a>
		        <% } %>
		  	</p>
	  		<div class="tags">
	  			<span>这个杀手不太冷</span>
	  			<span>叔本华迷妹</span>
	  			<span>前端攻城狮</span>
	  			<span>可能是个萌妹子</span>
	  		</div>
		</div>
	</div>
</div>
